html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="./assets/js/plugins/jQuery.js")
        link(rel="stylesheet", href="./assets/css/plugins/bootstrap.css")
 
    
    body 
        div 12312312312421421413123